$primary-color: #45B69C;
$secondary-color: #D8DDEF;
$hover-color: #7293A0;
$button-color: #21D19F;
$error-color: tomato;
$correct-color: rgb(18, 133, 18);

.error{
    color: $error-color;
}

.correcto{
    color: $correct-color;
}

.message{
    font-size: 30px;
}